*{
           box-sizing:border-box;
           margin: 0;
           padding: 0;
}

html,body{
      width: 100%;
      height: 100%;
}

.navbar{
      height: 100px;
      width: 100%;
      background-color: black;
      color: white;
      position: sticky ;
      top: 0;
      display: flex;
      align-items: center;
      padding: 0 30px;
      z-index: 100;
}
.logo{
      /* border: 2px solid white; */
      padding: 10px;
      display: flex;
      gap: 20px;
      align-items: center;
}

.logo>svg{
      fill: white;
      
}

.navlinks{
      /* border: 2px solid white; */
      padding: 10px;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 5px;
}

.navlinks>li{
      height: 100%;
      display: flex;
      align-items: center;
}
.navlinks a{
      color: white;
      text-decoration: none;
      padding: 2px 10px;
      border-radius: 5px;
      transition: 0.2s;
      font-size: 16px;
      font-weight: 600px;
      letter-spacing: 0.4em;
}

.navlinks>li:hover>a{
      background-color: #2b2a29;
      color: crimson;
}

.web-icons{
       border: 2px solid white;
      padding: 10px;
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 20px;
}

.search-icon{
      /* border: 1px solid white; */
      padding: 8px;
      border-radius: 50%;
      background-color: #2b2a29;
      cursor: pointer;
}

.web-icons>button{
      padding: 8px 16px;
      font-size: 13px;
      border-radius: 10px;
      border: none;
      background-color: #ff3c46;
      font-weight: 600;
      letter-spacing: 0.08em;
      cursor: pointer;
} 

.web-icons > .web {
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
}

.web-icons > .web:hover{
      background-color: #2b2a29;
}

.video-container{
      height: 80vh;
      width: 100%;
      background-color: yellow;
      position: relative;
}

.video-container>video{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
}

.hero-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.hero-content img{
      width: 500px;
      height: 100px;
}
.hero-content > h1{
      margin: 32px 0 64px;
      font-family: fantasy;
      font-size: 32px;
      text-transform: uppercase;
      color: #ece8e1;
      font-weight: 200;


}

.hero-content>button{
      padding: 18px 32px;
      background-color: #ff4655;
      color: #ece8e1;
      border: 1px solid #ece8e1;
}

.hero-content >button:hover{
      background-color: #ece8e1;
      color: black;
}

/* latest container */
.latest-container{
      background-color: #ece8e1;
      padding: 40px;
}

.latest-container>header{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.latest-container h1{
      font-size: 52px;
      font-family: fantasy;
      letter-spacing: 0.028em;
}

.latest-container p{
      font-weight: 600;
}

.card-container{
      /* border:10px solid black; */
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: center;
      gap: 30px;
}

.card{
      /* border: 1px solid black; */
      min-height: 385px;
      max-width: 400px;
      cursor: pointer;
}

.card > figure{
      width: 100%;
      height: 223px;
      overflow: hidden;
      border: 5px solid black;
      position: relative;
}

.card img{
      width: 100%;
      height: 100%;
      border: 2px solid red;
      transition: 0.2sec;
}

.card:hover img{
      transform:scale(1.1);

}

.card .category{
      color: #2a2a2a;
      padding-top: 15px;
      font-size: 14px;
}

.card .category>span{
      color: #ff4655;
}

.card .title{
      font-size: 28px;
      padding: 10px 0;
      font-weight: bolder;
}

.card .description{
      font-weight: normal;
      font-size: 16px;
}

.card .sharelink{
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 100;
      bottom: 0;
      right: 0;
      background-color: #0f192395;
      border: 0.5 solid #2b2a29;
}